In [38]:
import numpy as np
import pandas as pd
import yfinance as yf
import statsmodels.api as sm
from statsmodels.tsa.vector_ar.vecm import VECM, VAR, select_order, select_coint_rank, coint_johansen
from time_series_utils import TSA
import matplotlib.pyplot as plt

In [2]:
start_date = pd.Timestamp("2000-01-01")
end_date = pd.Timestamp("2019-12-31")

In [15]:
# "SPY": SPDR S&P 500 ETF Trust
# "IWB": iShares Russell 1000 ETF 
sp500_df = yf.download("SPY", start=start_date, end=end_date)
russell1000_df = yf.download("IWB", start=start_date, end=end_date)
display(sp500_df.head())
display(russell1000_df.head())
sp500_df.shape[0], russell1000_df.shape[0]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03 00:00:00-05:00,148.25000,148.25000,143.875000,145.4375,95.308838,8164300
2000-01-04 00:00:00-05:00,143.53125,144.06250,139.640625,139.7500,91.581627,8089800
2000-01-05 00:00:00-05:00,139.93750,141.53125,137.250000,140.0000,91.745483,12177900
2000-01-06 00:00:00-05:00,139.62500,141.50000,137.750000,137.7500,90.270981,6227200
2000-01-07 00:00:00-05:00,140.31250,145.75000,140.062500,145.7500,95.513580,8066500

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-05-19 00:00:00-04:00,75.406250,75.406250,74.312500,74.312500,49.981689,8100
2000-05-22 00:00:00-04:00,74.609375,74.609375,72.078125,74.093750,49.834568,751300
2000-05-23 00:00:00-04:00,74.125000,74.125000,72.843750,72.843750,48.993839,271200
2000-05-24 00:00:00-04:00,72.890625,73.468750,72.000000,73.468750,49.414192,17900
2000-05-25 00:00:00-04:00,74.265625,74.359375,72.921875,72.921875,49.046394,2100

(5030, 4934)

In [4]:
sp500 = sp500_df["Adj Close"]
russell1000 = russell1000_df["Adj Close"]
pair_df = pd.concat([sp500, russell1000], axis=1, join="inner")
pair_df.columns = ["sp500", "russell1000"]
pair_df

                                sp500  russell1000
Date
2000-05-19 00:00:00-04:00   92.717773    49.981716
2000-05-22 00:00:00-04:00   92.019707    49.834576
2000-05-23 00:00:00-04:00   90.664665    48.993855
2000-05-24 00:00:00-04:00   92.142891    49.414185
2000-05-25 00:00:00-04:00   90.562012    49.046368
...                               ...          ...
2019-12-23 00:00:00-05:00  306.215424   170.501556
2019-12-24 00:00:00-05:00  306.224945   170.453659
2019-12-26 00:00:00-05:00  307.855072   171.295959
2019-12-27 00:00:00-05:00  307.778809   171.257645
2019-12-30 00:00:00-05:00  306.081909   170.377121

[4934 rows x 2 columns]

In [5]:
train_df = pair_df.loc[pair_df.index < "2017-01-01"].reset_index(drop=True)
test_df = pair_df.loc[pair_df.index >= "2017-01-01"].reset_index(drop=True)

In [19]:
train_df.corr()

                sp500  russell1000
sp500        1.000000     0.999666
russell1000  0.999666     1.000000

# VECM / VAR

$$\Delta y_t = \alpha \beta^T y_{t-1} + \Gamma_1 \Delta y_{t-1} + \dots + \Gamma_{p-1} \Delta y_{t-p+1} + u_t$$
where $\alpha, \beta \in \mathbb{R}^{K \times r}$ and $\Gamma_i \in \mathbb{R}^{K \times K}$ for $i = 1, \dots, p-1$ are the parameters and $u_t$ is $K$-dimensional white noise. Both $\alpha$ and $\beta$ have rank $r$ - then so called cointegration rank.

## Choose Deterministic Terms

In [6]:
deterministic = "colo" # "n", "ci", "co", "li", "lo"

## Select Lag Order For SP500 and Russell1000

In [7]:
# without `.reset_index(drop=True)`: warning - not use date index
lag_order = select_order(data=train_df, maxlags=10, deterministic=deterministic)
lag_order.summary()

In [8]:
print(lag_order)

<statsmodels.tsa.vector_ar.var_model.LagOrderResults object. Selected orders are: AIC -> 10, BIC -> 6, FPE -> 10, HQIC ->  6>

In [9]:
lag_order.aic, lag_order.bic, lag_order.fpe, lag_order.hqic

(10, 6, 10, 6)

## Cointegration Rank

In [27]:
# `det_order=-1`: no deterministic terms
rank_test = select_coint_rank(train_df, det_order=-1, k_ar_diff=lag_order.aic, signif=0.05)
rank_test.rank

0

In [29]:
rank_test.summary()

## Error Correction Term Not Statistically Significant -> VAR($\Delta y_t$)

In [55]:
train_rtn_df = train_df.pct_change().dropna().reset_index(drop=True)
train_rtn_df.columns = [x + "_rtn" for x in pair_df.columns]
test_rtn_df = test_df.pct_change().dropna().reset_index(drop=True)
test_rtn_df.columns = [x + "_rtn" for x in pair_df.columns]

In [60]:
sp500_rtn_tsa = TSA(train_rtn_df.sp500_rtn.values)
ADF_stats, ADF_p_value, best_lag, terms = sp500_rtn_tsa.ADF_test_complete()
ADF_stats, ADF_p_value, best_lag, terms

(-50.685135980170244, 0.0, 1, 'n')

In [61]:
russell1000_rtn_tsa = TSA(train_rtn_df.russell1000_rtn.values)
ADF_stats, ADF_p_value, best_lag, terms = russell1000_rtn_tsa.ADF_test_complete()
ADF_stats, ADF_p_value, best_lag, terms

(-49.616865117337554, 0.0, 1, 'n')

Both sp500 return and russell1000 return are stationary.  
(Using difference sequences is also reasonable. Here, we just want our variables to have a clearer finanical meaning.)  
Then we choose lag order for sp500 return and russell1000 return and build VAR model.

## Model

In [79]:
var = VAR(train_rtn_df)
var_res = var.fit(maxlags=10, ic="aic") # VAR model chooses best lag order according to `ic` implicitly

In [80]:
var_res.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Thu, 02, Feb, 2023
Time:                     19:47:08
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   -21.0281
Nobs:                     4170.00    HQIC:                  -21.0693
Log likelihood:           32184.6    FPE:                6.91684e-10
AIC:                     -21.0919    Det(Omega_mle):     6.84770e-10
--------------------------------------------------------------------
Results for equation sp500_rtn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       0.000298         0.000190            1.568           0.117
L1.sp500_rtn               -0.453767         0.086866           -5.224           0.000
L1.russell1000_rtn          0.389134         0.087799            4.432           0.000
L2.sp500_rtn               -0.702510         0.104537           -6.720           0.000
L2.russell1000_rtn          0.637628         0.104763            6.086           0.000
L3.sp500_rtn               -0.416839         0.113138           -3.684           0.000
L3.russell1000_rtn          0.411618         0.112916            3.645           0.000
L4.sp500_rtn               -0.242241         0.117852           -2.055           0.040
L4.russell1000_rtn          0.210117         0.117173            1.793           0.073
L5.sp500_rtn               -0.164604         0.118837           -1.385           0.166
L5.russell1000_rtn          0.107855         0.118094            0.913           0.361
L6.sp500_rtn               -0.138926         0.118386           -1.173           0.241
L6.russell1000_rtn          0.136313         0.117593            1.159           0.246
L7.sp500_rtn                0.007317         0.116803            0.063           0.950
L7.russell1000_rtn         -0.035567         0.116044           -0.306           0.759
L8.sp500_rtn                0.077751         0.111359            0.698           0.485
L8.russell1000_rtn         -0.063567         0.110708           -0.574           0.566
L9.sp500_rtn               -0.186373         0.102425           -1.820           0.069
L9.russell1000_rtn          0.175852         0.102264            1.720           0.086
L10.sp500_rtn              -0.130024         0.085406           -1.522           0.128
L10.russell1000_rtn         0.138912         0.085204            1.630           0.103
======================================================================================

Results for equation russell1000_rtn
======================================================================================
                         coefficient       std. error           t-stat            prob
--------------------------------------------------------------------------------------
const                       0.000301         0.000188            1.600           0.110
L1.sp500_rtn                0.233410         0.085949            2.716           0.007
L1.russell1000_rtn         -0.287089         0.086871           -3.305           0.001
L2.sp500_rtn               -0.186883         0.103433           -1.807           0.071
L2.russell1000_rtn          0.130873         0.103657            1.263           0.207
L3.sp500_rtn               -0.024193         0.111943           -0.216           0.829
L3.russell1000_rtn          0.039038         0.111723            0.349           0.727
L4.sp500_rtn                0.023785         0.116607            0.204           0.838
L4.russell1000_rtn         -0.048772         0.115936           -0.421           0.674
L5.sp500_rtn                0.051955         0.117582            0.442           0.659
L5.russell1000_rtn         -0.099320         0.116846           -0.850           0.395
L6.sp500_rtn                0.031597         0.117136            0.270           0.787
L6.russell1000_rtn         -0.032204         0.116351           -0.277           0.782
L7.sp500_rtn                0.106237         0.115570            0.919           0.358
L7.russell1000_rtn         -0.131226         0.114818           -1.143           0.253
L8.sp500_rtn                0.171552         0.110183            1.557           0.119
L8.russell1000_rtn         -0.154869         0.109538           -1.414           0.157
L9.sp500_rtn               -0.082086         0.101343           -0.810           0.418
L9.russell1000_rtn          0.076797         0.101184            0.759           0.448
L10.sp500_rtn              -0.046729         0.084504           -0.553           0.580
L10.russell1000_rtn         0.072726         0.084304            0.863           0.388
======================================================================================

Correlation matrix of residuals
                   sp500_rtn  russell1000_rtn
sp500_rtn           1.000000         0.984200
russell1000_rtn     0.984200         1.000000

## Forecast

In [81]:
lag_order = var_res.k_ar
lag_order

10

In [84]:
var_res.forecast(train_rtn_df.iloc[-lag_order:].values, steps=5)

array([[0.00061862, 0.00053873],
       [0.00051399, 0.00065487],
       [0.00071225, 0.00065491],
       [0.00027241, 0.00027417],
       [0.00058742, 0.00058941]])

**Question:**  
Why is error correction term statistically significant for sp500 and russell2000 pair, but not statistically significant for sp500 and russell1000 pair?

**My Answer:**  
Because error correction term captures the correlation between large cap stocks, while there is a big overlap on constiuent stocks for sp500 and russell1000 and remaining information captured by error correction term is insignificant for indices pnl.